p{font-style: normal; font-size: 10; }

span.a{ color: green;background-color:pink;}
#direction{color: red;}
.name1{color: royalblue;}
.name2{color: yellowgreen;}
#name{color: brown;}
span.char{color: black;}
span.a:hover{background-color:salmon;}
table{border: 2px solid black;
    }
 th {border: solid 1px ;background-color: rgb(228, 147, 228);
    text-align: center;
    padding: 8px
    }
tr:nth-child(even)
{background-color: #9aaef3;}
tr:nth-child(odd)
{background-color: #d64a4a;}
span.name:hover{color: rgb(231, 102, 188); text-shadow: 1px 1px 3px #FF0000;border-style: solid;
    border-color: #02070f;}
    